.main {
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  align-items: center;

  @media screen and (min-width: 590px) {
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

    @media screen and (min-width: 790px) {
      flex-direction: row;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }
  }

  &__section1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;

    @media screen and (min-width: 590px) {
      width: 24%;
      height: 92%;
    }

    &__h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  &__section2 {
    background-color: rgb(107, 107, 107);
    margin-top: 20px;
    border-radius: 15px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;

    @media screen and (min-width: 590px) {
      width: 50%;
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &.small {
        height: 400px;
        width: 270px;

        @media screen and (min-width: 590px) {
          width: 280px;
        }
      }

      &.large {
        height: 400px;
        border-radius: 40px;
        width: 280px;

        @media screen and (min-width: 590px) {
          width: 290px;
        }
      }
    }
  }

  &__section3 {
    display: none;

    @media screen and (min-width: 790px) {
      width: 24%;
      height: 92%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__div1 {
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__kanye {
    width: 220px;
  }

  &__button {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 10px;
    border: rgb(83, 83, 83) 2px solid;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: rgb(70, 58, 0);
      border-color: rgb(132, 132, 132);
      padding: 5px 12px;
    }

    @media screen and (min-width: 790px) {
      font-size: 18px;
    }

    &__div {
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
    }

    &__size {
      border: none;
      background-color: rgb(107, 107, 107);
      color: rgb(210, 210, 210);
      font-size: 25px;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__input {
    width: 35%;
    margin-left: 5px;
    border: none;
  }

  &__arrows {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section1__div {
  width: 100%;
  height: fit-content;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.card {
  &__span {
    font-size: 20px;
  }
  &__quote {
    padding: 15px;
    text-align: center;
  }
  &__photoDiv {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
}

input[type="radio"] {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 50%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  &:not(:disabled):checked {
    background-clip: content-box;
    padding: 1px;
    background-image: radial-gradient(
      circle,
      #f3f3f3 0%,
      #3d3d3d 0%,
      transparent 60%,
      transparent 100%
    );
  }
}

.div__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  @media screen and (min-width: 590px) {
    height: 50px;
    margin-top: 20px;
  }

  @media screen and (min-width: 790px) {
    display: none;
  }
}

label {
  cursor: pointer;
}

.display {
  display: none;
}
