<main class="main">
  <section class="main__section1">
    <div class="section1__div">
      <form action="">
        <h3 class="main__section1__h3">Select your title:</h3>
        <div>
          <input
            type="radio"
            id="birthday"
            name="message"
            value="birthday"
            checked
          />
          <label for="birthday"> <p class="label__p">Happy Birthday</p></label>
        </div>
        <div>
          <input type="radio" id="sorry" name="message" value="sorry" />
          <label for="sorry"> <p class="label__p">Sorry</p></label>
        </div>
        <div>
          <input type="radio" id="love" name="message" value="love" />
          <label for="love"><p class="label__p">Love you</p></label>
        </div>
      </form>
    </div>

    <div class="section1__div">
      <form action="">
        <h3 class="main__section1__h3">Receiver:</h3>
        <div>
          <label for="receiver"><p class="label__p">Name</p> </label>
          <input type="text" id="receiver" class="main__input inputName-js" />
        </div>
      </form>
    </div>

    <div class="section1__div">
      <form action="">
        <h3 class="main__section1__h3">Palettes:</h3>
        <div>
          <input
            type="radio"
            id="mixtape"
            name="palette"
            value="mixtape"
            checked
          />
          <label for="mixtape">
            <p class="label__p">The Late Mixtape (2005)</p>
          </label>
        </div>
        <div>
          <input
            type="radio"
            id="graduation"
            name="palette"
            value="graduation"
          />
          <label for="graduation">
            <p class="label__p">Graduation (2007)</p>
          </label>
        </div>
        <div>
          <input type="radio" id="fantasy" name="palette" value="fantasy" />
          <label for="fantasy">
            <p class="label__p">My Beautiful Dark Twisted Fantasy (2010)</p>
          </label>
        </div>
        <div>
          <input type="radio" id="pablo" name="palette" value="pablo" />
          <label for="pablo">
            <p class="label__p">The Life of Pablo (2016)</p>
          </label>
        </div>
        <div>
          <input type="radio" id="ye" name="palette" value="ye" />
          <label for="ye"> <p class="label__p">Ye (2018)</p> </label>
        </div>
      </form>
    </div>
  </section>

  <section class="main__section2">
    <div class="main__arrows">
      <button class="resize-btn left-js main__button__size" data-size="small">
        <i class="fa-solid fa-backward-step"></i>
      </button>
    </div>
    <div class="main__section2__card card-js">
      <div>
        <span class="card__span title-js"></span>
        <span class="card__span name-js"></span>
      </div>
      <div class="photodiv-js card__photoDiv">
        <img class="main__kanye" src="../images/kanye-2.png" alt="Kanye West" />
      </div>
      <p class="card__quote quote-js"></p>
    </div>
    <div class="main__arrows">
      <button class="resize-btn right-js main__button__size" data-size="large">
        <i class="fa-solid fa-forward-step"></i>
      </button>
    </div>
  </section>

  <section class="main__section3">
    <div class="main__section3__div1">
      <h3 class="main__section1__h3">Choose your message:</h3>
      <button class="main__button quote-btn">Generate Kanye's Quote</button>
    </div>
    <button class="save-image-js main__button">Save Image</button>
  </section>
</main>
