<main class="main">
  <section class="main__section1">

      <div class="section1__div">
        <form action="">
        <h3>Select your message</h3>

        <input type="radio" id="birthday" name="message" value="birthday" checked />
        <label for="birthday"> Happy Birthday</lsabel>

        <input type="radio" id="sorry" name="message" value="sorry" />
        <label for="sorry"> Sorry</label>

        <input type="radio" id="love" name="message" value="love" />
        <label for="love"> Love you</label>
      </form>
      </div>

      <div class="section1__div">
        <form action="">
          <h3>Receiver:</h3>
          <label for="receiver">Name</label>
          <input type="text" id="receiver" class="inputName-js">
        </form>
      </div>

      <div class="section1__div">
        <form action="">
          <h3>Palettes:</h3>

          <input
            type="radio"
            id="graduation"
            name="palette"
            value="graduation"
            checked
          />
          <label for="graduation"
            >Graduation (2007)
            <div>
              <div></div>
              <div></div>
              <div></div></div
          ></label>

          <input type="radio" id="fantasy" name="palette" value="fantasy" />
          <label for="fantasy"
            >My Beautiful Dark Twisted Fantasy (2010)
            <div>
              <div></div>
              <div></div>
              <div></div></div
          ></label>

          <input type="radio" id="pablo" name="palette" value="pablo" />
          <label for="pablo"
            >The Life of Pablo (2016)
            <div>
              <div></div>
              <div></div>
              <div></div></div
          ></label>

          <input type="radio" id="ye" name="palette" value="ye" />
          <label for="ye"
            >Ye (2018)
            <div>
              <div></div>
              <div></div>
              <div></div></div
          ></label>
        </form>
    </div>
  </section>


  <section class="main__section2">
    <div class="main__section2__card">
      <span class="card__title title-js"></span> <span class="name-js"></span>
      <img class="main__kanye" src="../images/kanye-2.png" alt="Kanye West" />
      <div></div>
    </div>
  </section>


  <section class="main__section3"></section>
</main>
